<!DOCTYPE html>
<html ng-app="myApp" ng-app lang="swe">
<head>
    <meta charset="UTF-8">
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/stylesheet.css" rel="stylesheet">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <style type="text/css">
    ul>li, a{cursor: pointer;}
    </style>
    <title>Planering Tirawa</title>
    <script src="js/jquery-2.1.3.js"></script>


</head>
<body>
<div class="navbar navbar-default" id="navbar">
    <div class="container" id="navbar-container">
        <div class="navbar-header">
            <ul class="nav navbar-nav">
                <li><a class="menuitem" href="index.html"><i class="fa fa-search"></i>  Sök</a></li>
                <li class="dropdown">
                  <a class="menuitem"><i class="fa fa-pencil"></i>  Planera <b class="caret"></b></a>
                  <ul class="dropdown-menu sub-menu">
                    <li><a class="menuitem" href="planStaff.html"><i class="fa fa-user"></i>  Planera personal</a></li>
                    <li><a class="menuitem" href="planSwitches.html"><img src="files/trackglyph2.jpg" class="makeglyph">  Planera växlar</a></li>
                  </ul>
                </li>
                <li class="dropdown navbar-active">
                  <a class="menuitem"><i class="fa fa-eye"></i>  Översikt <b class="caret"></b></a>
                  <ul class="dropdown-menu sub-menu">
                    <li><a class="menuitem" href="overviewLastweek.html"><i class="fa fa-exclamation  fa-fw"></i>  Översikt förfalloveckor</a></li>
                    <li><a class="menuitem" href="overviewPlannedweek.html"><i class="fa fa-table  fa-fw"></i>  Översikt planerade veckor</a></li>
                  </ul>
                </li>
                <li><a class="menuitem" href="database.html"><i class="fa fa-database"></i>  Hantera databas</a></li>
                
            </ul>
        </div><!-- /.navbar-header -->
        <div class="navbar-header pull-right">
            <ul class="nav navbar-nav">
                <li><input type="text" ng-model="username" placeholder="Användarnamn" class="form-control" /></li>
                <li><input type="password" ng-model="password"  placeholder="Lösenord" class="form-control" /></li>
                <li><button ng-model="login" class="form-control">Logga in</button></li>
        </div><!-- /.navbar-header -->
    </div>
</div>


      
<div ng-controller="OverviewController" ng-init="region='Mitt';showTestedOverviewTable(region)">
    <div class="container">
        <div class="row">
             <div class="spinner-box-index text-center" ng-show="loading"> 
                    <img class="spinner-index" src="files/ajax-loader-index.gif">
                    <h2 class="spinner-text-index"><center><small>Läser in data...</small></center></h2>
            </div>
            <div class="col-md-2" style="top: 15px;">
                <select ng-change="showTestedOverviewTable(region)" value="Mitt" ng-init="Mitt" ng-model="region" class="form-control">
                    <option ng-repeat="data in regions">{{data.Agare}}</option>
                </select>
                
            </div>

            <div class="col-md-6">
                <h2>Översikt för {{region | lowercase}}</h2>
                <hr><br>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-md-offset-2">
                <table ng-show="!loading && !tableEmpty" class="table table-striped table-bordered">
                    <thead>
                        <th style="width:50px;" rowspan="2">Vecka</th> 
                        <th style="width:80px;">Veckostart</th>
                        <th>Planerade växlar</th> 
                        <th>Testade växlar</th>  
                        <th>Försenade växlar</th>  
                    </thead>
                    <tbody>
                        <tr ng-repeat="data in overview" ng-class="{'success': data.Countdelayed == 0 && data.Countplanned > 0, 'danger': (data.Countdelayed > 0 && data.Countplanned > 0)}">
                            <td style="width:50px;">{{data.Week}}</td>
                            <td style="width:80px;">{{data.Mondaydate}}</td>
                            <td class="mainCell">{{data.Countplanned}} st</td>
                            <td class="mainCell">{{data.Counttested}} st</td>
                            <td class="mainCell">{{data.Countdelayed}} st</td>
                        </tr>
                    </tbody>
                </table>
                <h3 ng-show="tableEmpty">Regionen har ej blivit planerad!</h3>
            </div>
        </div>
    </div>
</div>


<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/jquery/dist/jquery.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>  
<script src="js/ui-bootstrap-tpls-0.10.0.min.js"></script>

 




    <!-- Modules -->
    <script src="js/app.js"></script>

    <!-- Controllers -->
    <script src="js/controllers/OverviewController.js"></script>
    <script src="js/controllers/SearchController.js"></script>
    <script src="js/controllers/StaffplanningController.js"></script>
    <script src="js/controllers/DatabaseController.js"></script>
    <!-- Services -->
    <script src="js/factories/overview.js"></script>
    <script src="js/factories/places.js"></script>
    <script src="js/factories/regions.js"></script>
    <script src="js/factories/staffplanning.js"></script>
    <script src="js/factories/switches.js"></script>
    <script src="js/factories/trackparts.js"></script>
    <script src="js/factories/weeks.js"></script>
    <script src="js/factories/inspectionclasses.js"></script>
    <!-- Directives -->
    <script src="js/directives/switchRow.js"></script>


</body>